  <!DOCTYPE html>
  <html lang="en" class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="LoySupremo">
    <!-- Meta Description -->
    <meta name="description" content="sign on PDP">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Sign On PDP</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="/themecss/linearicons.css">
      <link rel="stylesheet" href="/themecss/font-awesome.min.css">
      <link rel="stylesheet" href="/themecss/bootstrap.css">
      <link rel="stylesheet" href="/themecss/magnific-popup.css">
           
      <link rel="stylesheet" href="/themecss/nice-select.css">              
      <link rel="stylesheet" href="/themecss/animate.min.css">
      <link rel="stylesheet" href="/themecss/owl.carousel.css">       
      <link rel="stylesheet" href="/themecss/main.css">
      
      <style type='text/css'>

          #loading {
             width: 100%;
             height: 100%;
             top: 0;
             left: 0;
             position: fixed;
             display: block;
             opacity: 0.6;
             background-color: #fff;
             z-index: 99;
             text-align: center;
          }

          #loading-image {
            position: absolute;
            top: 160px;
            left: 640px;
            z-index: 100;
          }

          /* for mobile devices*/
          @media only screen and (max-width: 700px){
               #loading-image {
                  top: 160px; 
                  left: 35px;
               }
              }
      </style>

    </head>
    <body> 

      <header id="header">
        <div class="container main-menu">
          <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
              <a href="/"><img src="/Pdp_logo.png" alt="Sign On for PDP" width="36" height="36" /></a>
            </div>
            <nav id="nav-menu-container">
              <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                
              </ul>
            </nav><!-- #nav-menu-container -->            
          </div>
        </div>
      </header><!-- #header -->
             @!section('canvas')
            <!-- start banner Area -->
            <section class="banner-area" id="app">
              <div class="container">
                @!section('main')
              </div>          
            </section>
            <!-- End banner Area -->

            <!-- start footer Area -->
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>About Me @ LoySupremo</h4>
                                <p>
                                    I love software engineering so much and would one day like to be counted amongst the best web developers in this world.
                                </p>
                                <p class="footer-text">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.<br> This website is proudly made with <i class="fa fa-heart-o" aria-hidden="true"></i> ahead of the upcoming 2019 elections & built <br> on top <a href="www.nodejs.org" target="_blank">NodeJS </a> & <a href="www.vuejs.org" target="_blank">VueJs </a>Dev Stack. (Sorry if I sound too techie...)
</p>
                            </div>
                        </div>
                       
                        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                            <div class="single-footer-widget">
                                <h4>Follow Me</h4>
                                <p>Let us be social</p>
                                <div class="footer-social d-flex align-items-center">
                                    <a href="https://www.facebook.com/LoySupremo"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/LoySupremo"><i class="fa fa-twitter"></i></a>
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
            @!section('canvas_script')
            <!-- End footer Area -->    
      <script src="/js/app.js"></script>
      <script src="/themejs/vendor/jquery-2.2.4.min.js"></script>
      <script src="/themejs/popper.min.js"></script>
      <script src="/themejs/vendor/bootstrap.min.js"></script>      
      <script src="/themejs/easing.min.js"></script>      
      <script src="/themejs/hoverIntent.js"></script>
      <script src="/themejs/superfish.min.js"></script> 
      <script src="/themejs/jquery.ajaxchimp.min.js"></script>
      <script src="/themejs/jquery.magnific-popup.min.js"></script> 
      <script src="/themejs/jquery.tabs.min.js"></script>           
      <script src="/themejs/jquery.nice-select.min.js"></script>  
      <script src="/themejs/isotope.pkgd.min.js"></script>      
      <script src="/themejs/waypoints.min.js"></script>
      <script src="/themejs/jquery.counterup.min.js"></script>
      <script src="/themejs/simple-skillbar.js"></script>             
      <script src="/themejs/owl.carousel.min.js"></script>
      <script src="/themejs/main.js"></script>
    </body>
             @!section('canvas_load')
  </html>